.Button {
    background-image: linear-gradient(to right bottom, var(--element-color), var(--element-color-light));
    border-radius: 1.25rem;
    transition: all ease-in .2s;
    color: #1a1919cc;
}

.Button:hover, .Button:active {
    box-shadow: 0 0 10px var(--primary-color);
}