@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-color: #EEEEEE;
  --primary-color: #222831;
  --secondary-color: #393e46ef;
  --element-color: #02929a;
  --element-color-light: #05ced8;
}

.row {
  --bs-gutter-x: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  overflow-x: hidden;
}
a, li, button {
  all: unset;
}
a, button{
  cursor: pointer;
}

hr {
  background: linear-gradient(to right, var(--element-color), var(--element-color-light));
  height: .25rem;
  width: 10rem;
  border: none;
  opacity: 1;
}